.card{ 
    width: 400px;
    height: 620px;
    border: 2px solid rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}

.top-bar{
    display:flex;
    justify-content:space-around;
    border: 2px solid white;
    background-color: white;
    border-radius:5rem;
    margin:1rem ;
}

.pokemon-picture{
    display:flex;
    justify-content: center;
    
}

#image-pokemon{
    width: 20rem;

}


.data{
    display:flex;
    justify-content:space-around;
    text-align :center;
}

#atk-pokemon{
    border : 2px white solid; 
    background-color: white;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items:center;
    justify-content:center;


}

#Height-pokemon{
    border : 2px white solid;
    background-color: white; 
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items:center;
    justify-content:center;

}

#Weight-pokemon{
    border : 2px white solid;
    background-color: white; 
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items:center;
    justify-content:center;

}

#def-pokemon{
    border : 2px white solid;
    background-color: white; 
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items:center;
    justify-content:center;

}

#speed-pokemon{
    border : 2px white solid;
    background-color: white; 
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items:center;
    justify-content:center;

}


